*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color:$color_3;
    font-family: $font_1;
    list-style: none;
}

.section1-empresas{
    background-image: url(./img/granja.jpg);
    height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
    .cartel-s1e{
        width: 30%;
        height: 100%;
        background-color: $color_t5;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 20px;

        h2{
            font-size: $large;
            font-weight: bold;
            text-transform: uppercase;

        }
        P{
            font-size: $medium;
            font-weight: bold;
            text-transform: uppercase;

        }
    }

}
.section2-empresas{
    height: 500px;
    width: 100%;
   background-color: $color_1;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   .forma-1{
    background-color: $color_2;
    height: 350px;
    width: 350px;

   .img-1{
    height: 350px;
    width: 350px;
    background-image: url(./img/herno.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 1px 2px 5px black;
    position: relative;
    left: 50px;
    top: 20px;
    h2{
        display: none;
    }
    p{
        display: none;
    }
   }
}
.img-1:hover{
   background-image: url(./img/logo-1.svg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 

 h2{
    display: inherit;
    text-align: center;
  
 }
 p{
    display: inherit;
    text-align: center;
   

 }
}
.img-2:hover{
    background-image: url(./img/logo-1.svg);
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
  
 
  h2{
     display: inherit;
     text-align: center;
   
  }
  p{
     display: inherit;
     text-align: center;
    
 
  }
 }
}
.forma-2{
 border: solid $color_2 10px;
    height: 350px;
    width: 350px;
    .img-2{
        height: 350px;
        width: 350px;
        background-image: url(./img/herno.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
        box-shadow: 1px 2px 5px black;
        position: relative;
        left: 50px;
        top: 20px;

        h2{
            display: none;
        }
        p{
            display: none;
        }
       }
}

.section3-empresas{
    height: 500px;
    width: 100%;
   background-color: $color_4;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   h2{
    font-size: $large;
    color: $color_2;

   }
   h3{
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
   }
   p{
    font-size: $medium;
   }

}
.section4-empresas{
    height: 300px;
    width: 100%;
    background-color: $color_5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2{
        font-size: $large;

    }
    button{
        width: 20%;
        height: 80px;
        border-radius: 10px;
        border: none;
        box-shadow: 1px 2px 5px black;
        margin-top: 20px;
        span{
            color: $color_1;
            font-size: $medium;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
}
@media only screen and (min-width:575px) and (max-width:992px) {
    .section1-empresas{
    .cartel-s1e{
        width: 70%;
        height: 100%;
     

        h2{
            font-size: $large;
            font-weight: bold;
            text-transform: uppercase;

        }
        P{
            font-size: $medium;
            font-weight: bold;
            text-transform: uppercase;

        }
    }
}
.section2-empresas{
    height: 500px;
    width: 100%;
   .forma-1{
    height: 200px;
    width: 200px;

   .img-1{
    height: 200px;
    width: 200px;
   left: 30px;
    top: 20px;
    h2{
        display: none;
    }
    p{
        display: none;
    }
}
   }

.forma-2{
 border: solid $color_2 2px;
    height: 200px;
    width: 200px;
    .img-2{
        height: 200px;
        width: 200px;
        left: 30px;
        top: 20px;

        h2{
            display: none;
        }
        p{
            display: none;
        }
       }
}
}

.section3-empresas{
    height: 400px;
   h2{
    font-size: $medium;
 }
   h3{
    font-size: 20px;

   }
   p{
    font-size: 18px;
   }

}
.section4-empresas{
    height: 300px;
    width: 100%;

    h2{
        font-size: $medium;
        font-weight: bold;

    }
    button{
        width: 40%;
        height: 40px;

        span{
            color: $color_1;
            font-size: $small;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
}

}


@media only screen and (max-width: 575px){
    .section1-empresas{
        height: 250px;
        .cartel-s1e{
            width: 50%;
            height: 100%;
         
    
            h2{
                font-size: $medium;
               margin-top: 20px;
    
            }
            P{
                font-size: $small;

    
            }
        }
    }
    .section2-empresas{
        height: 300px;
        width: 100%;
       .forma-1{
        height: 120px;
        width: 120px;
    
       .img-1{
        height: 120px;
        width: 120px;
       left: 20px;
        top: 20px;
        h2{
            display: none;
        }
        p{
            display: none;
        }
    }
       }
    
    .forma-2{
     border: solid $color_2 2px;
        height: 120px;
        width: 120px;
        .img-2{
            height: 120px;
            width: 120px;
            left: 20px;
            top: 20px;
    
            h2{
                display: none;
            }
            p{
                display: none;
            }
           }
    }
    }
    
    .section3-empresas{
        height: 400px;
       h2{
        font-size: $medium;
     }
       h3{
        font-size: 20px;
    
       }
       p{
        font-size: 18px;
       }
    
    }
    .section4-empresas{
        height: 200px;
        width: 100%;
    
        h2{
            font-size: $medium;
            font-weight: bold;
            text-align: center;
    
        }
        button{
            width: 40%;
            height: 40px;
    
            span{
                color: $color_1;
                font-size: $small;
                text-transform: uppercase;
                font-weight: bold;
            }
        }
    }
    
}






