@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');


$color_1: #0B3C5D;
$color_2:#328CC1;
$color_3: #E9E7DA;
$color_4:#1D2731;
$color_5:#D9B310;
$color_t1: #4484cec0;
$color_t2: #72adab80;
$color_t3:#e8d5b589 ;
$color_t4:#1d27316b;
$color_t5:#1d2731ce;


$font_1: 'Roboto Condensed', sans-serif;


$xs:12px;
$small:16px;
$medium:30px;
$large:70px;
$xl:90px;

$var_1:100%;
$var_2:75%;
$var_3:50%;
$var_4:25%;

$ancho:720px;
$alto:100px;